h1, h6{
    margin:0px !important;
}

h1{
    font-size:50px;
    font-weight:100;
    letter-spacing:4px;
}

h6{
    letter-spacing: 11px;
    position: relative;
    top: -8px;
}

.covid__wrapper{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titles{
    margin: 0 auto;
}

.titles img{
    width: 230px;
    /* height: 46px; */
    opacity: 0.1;
}

.google-visualization-tooltip-item {
    position: relative;
}

.google-visualization-tooltip-item .news-image {
    position: absolute;
    width: 100px;
    height:100px;
    top:-80px;
    right:-20px;

    background-position: center center;
    background-size: cover;
}